<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>Nuvexa Data Studio</string>
  <key>CFBundleDisplayName</key>
  <string>Nuvexa Data Studio</string>
  <key>CFBundleIconFile</key>
  <string>nuvexa-data-studio</string>
  <key>CFBundleIdentifier</key>
  <string>nuventra.nuvexadb.explorer</string>
  <key>CFBundleExecutable</key>
  <string>Nuventra.NuvexaDB.Explorer</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>__VERSION__</string>
  <key>CFBundleVersion</key>
  <string>__VERSION__</string>
  <key>LSMinimumSystemVersion</key>
  <string>13.0</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>NuvexaDB Database</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>nvx</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>com.nuventra.nuvexadb</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
