bin/
obj/
.vs/
.idea/
*.user
*.suo
*.userosscache
artifacts/
TestResults/
BenchmarkDotNet.Artifacts/
*.nvx
*.nvx-wal
*.nvx-shm
.DS_Store
node_modules/
*.vsix
*.nupkg
*.snupkg
src/Nuventra.NuvexaDB.VSCode/out/
src/Nuventra.NuvexaDB.VSCode/.vscode-test/
